<section>
    <h2>Formulario</h2>
    <form action="/productos" method="post" class="mb-5" >
        <input type="text" id="disabledTextInput" class="form-control" name="nombre" placeholder="Nombre">
        <br>
        <input type="text" id="disabledTextInput" class="form-control" name="descripcion" placeholder="descripcion">
        <br>
        <input type="number" id="disabledTextInput" class="form-control"name="price" placeholder="price">
        <br>
        <input type="submit" class="btn btn-primary"  value="agregar producto">
    </form>
 
</section>
